<!-- start custom head snippets -->

<!-- Google WEB master -->
<meta
  name="google-site-verification"
  content="4gt--MEEcnP2lX9x2cuQbivs1yzLLXrOx0RbUtiRqzs"
/>
<!-- Naver WEB master -->
<meta
  name="naver-site-verification"
  content="c916afe27779e62d9fe71b0591e76b3c4e027b1c"
/>

<!-- Google Adsence -->
<script
  async
  src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-9462926197232794",
    enable_page_level_ads: true
  });
</script>

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
